<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <servlet-class>servert.student.FindAllStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveStudentServlet</servlet-name>
    <servlet-class>servert.student.SaveStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByStudentIdServlet</servlet-name>
    <servlet-class>servert.student.FindByStudentIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>servert.student.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>servert.student.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllBookinforServlet</servlet-name>
    <servlet-class>servert.bookinfor.FindAllBookinforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookinforServlet</servlet-name>
    <servlet-class>servert.bookinfor.DeleteBookinforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByBookinforIdServlet</servlet-name>
    <servlet-class>servert.bookinfor.FindByBookinforIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveBookinforServlet</servlet-name>
    <servlet-class>servert.bookinfor.SaveBookinforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookinforServlet</servlet-name>
    <servlet-class>servert.bookinfor.UpdateBookinforServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBookTypeServlet</servlet-name>
    <servlet-class>servert.bookType.DeleteBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllBookTypeServlet</servlet-name>
    <servlet-class>servert.bookType.FindAllBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByBookTypeIdServlet</servlet-name>
    <servlet-class>servert.bookType.FindByBookTypeIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveBookTypeServlet</servlet-name>
    <servlet-class>servert.bookType.SaveBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookTypeServlet</servlet-name>
    <servlet-class>servert.bookType.UpdateBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCustomerDetailInfoServlet</servlet-name>
    <servlet-class>servert.customerDetailInfo.DeleteCustomerDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllCustomerDetailInfoServlet</servlet-name>
    <servlet-class>servert.customerDetailInfo.FindAllCustomerDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByCustomerDetailInfoIdServlet</servlet-name>
    <servlet-class>servert.customerDetailInfo.FindByCustomerDetailInfoIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveCustomerDetailInfoServlet</servlet-name>
    <servlet-class>servert.customerDetailInfo.SaveCustomerDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerDetailInfoServlet</servlet-name>
    <servlet-class>servert.customerDetailInfo.UpdateCustomerDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCustomerInfoServlet</servlet-name>
    <servlet-class>servert.customerInfo.DeleteCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllCustomerInfoServlet</servlet-name>
    <servlet-class>servert.customerInfo.FindAllCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByCustomerInfoIdServlet</servlet-name>
    <servlet-class>servert.customerInfo.FindByCustomerInfoIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveCustomerInfoServlet</servlet-name>
    <servlet-class>servert.customerInfo.SaveCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustomerInfoServlet</servlet-name>
    <servlet-class>servert.customerInfo.UpdateCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SysAdminLoginServlet</servlet-name>
    <servlet-class>servert.SysAdmin.SysAdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SysAdminLoginOutSevlet</servlet-name>
    <servlet-class>servert.SysAdminLoginOutSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteOrdermainServlet</servlet-name>
    <servlet-class>servert.ordermain.DeleteOrdermainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllOrderMainServlet</servlet-name>
    <servlet-class>servert.ordermain.FindAllOrderMainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByOrderMainIdServlet</servlet-name>
    <servlet-class>servert.ordermain.FindByOrderMainIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveOrderMainServlet</servlet-name>
    <servlet-class>servert.ordermain.SaveOrderMainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateOrderMainServlet</servlet-name>
    <servlet-class>servert.ordermain.UpdateOrderMainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <servlet-class>servert.news.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllNewsServlet</servlet-name>
    <servlet-class>servert.news.FindAllNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByNewsIdServlet</servlet-name>
    <servlet-class>servert.news.FindByNewsIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveNewsServlet</servlet-name>
    <servlet-class>servert.news.SaveNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <servlet-class>servert.news.UpdateNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitSevert</servlet-name>
    <servlet-class>servert.qt.InitSevert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBookInfoServlet</servlet-name>
    <servlet-class>servert.qt.ShowBookInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletebookDiscussServlet</servlet-name>
    <servlet-class>servert.BookDiscuss.DeletebookDiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllbookDiscussServlet</servlet-name>
    <servlet-class>servert.BookDiscuss.FindAllbookDiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindBybookDiscussIdServlet</servlet-name>
    <servlet-class>servert.BookDiscuss.FindBybookDiscussIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SavebookDiscussServlet</servlet-name>
    <servlet-class>servert.BookDiscuss.SavebookDiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatebookDiscussServlet</servlet-name>
    <servlet-class>servert.BookDiscuss.UpdatebookDiscussServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBookListByTypeIdServlet</servlet-name>
    <servlet-class>servert.qt.ShowBookListByTypeIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGwcItemServlet</servlet-name>
    <servlet-class>servert.gwc.AddGwcItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearGwcServlet</servlet-name>
    <servlet-class>servert.gwc.ClearGwcServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGwcItemServlet</servlet-name>
    <servlet-class>servert.gwc.DeleteGwcItemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateGwcItemNumServlet</servlet-name>
    <servlet-class>servert.gwc.UpdateGwcItemNumServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KsSysAdminLoginServlet</servlet-name>
    <servlet-class>servert.SysAdmin.KsSysAdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveTeacherServlet</servlet-name>
    <servlet-class>servert.student.SaveTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllTeacherServlet</servlet-name>
    <servlet-class>servert.student.FindAllTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveHomeworkServlet</servlet-name>
    <servlet-class>servert.student.SaveHomeworkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllHomeworkServlet</servlet-name>
    <servlet-class>servert.student.FindAllHomeworkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteHomeworkServlet</servlet-name>
    <servlet-class>servert.student.DeleteHomeworkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByHomeworkServlet</servlet-name>
    <servlet-class>servert.student.FindByHomeworkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateHomeworkServlet</servlet-name>
    <servlet-class>servert.student.UpdateHomeworkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SysAdminksLoginOutSevlet</servlet-name>
    <servlet-class>servert.SysAdminksLoginOutSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>servert.student.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByTeacherIdServlet</servlet-name>
    <servlet-class>servert.student.FindByTeacherIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <servlet-class>servert.student.UpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitOrderServert</servlet-name>
    <servlet-class>servert.qt.InitOrderServert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>servert.qt.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddkeepServert</servlet-name>
    <servlet-class>servert.qt.AddkeepServert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servert.qt.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeOrderServlet</servlet-name>
    <servlet-class>servert.qt.MakeOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowNewsServlet</servlet-name>
    <servlet-class>servert.qt.ShowNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeOKSevert</servlet-name>
    <servlet-class>servert.qt.MakeOKSevert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyKJ</servlet-name>
    <servlet-class>servert.qt.MyKJ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMyPwdServlet</servlet-name>
    <servlet-class>servert.qt.UpdateMyPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByfavoriteIdServlet</servlet-name>
    <servlet-class>servert.favorite.FindByfavoriteIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SavefavoriteServlet</servlet-name>
    <servlet-class>servert.favorite.SavefavoriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatefavoriteServlet</servlet-name>
    <servlet-class>servert.favorite.UpdatefavoriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletefavoriteServlet</servlet-name>
    <servlet-class>servert.favorite.DeletefavoriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllfavoriteServlet</servlet-name>
    <servlet-class>servert.favorite.FindAllfavoriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteorderdetailServlet</servlet-name>
    <servlet-class>servert.orderdetail.DeleteorderdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllorderdetailServlet</servlet-name>
    <servlet-class>servert.orderdetail.FindAllorderdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindByorderdetailIdServlet</servlet-name>
    <servlet-class>servert.orderdetail.FindByorderdetailIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveorderdetailServlet</servlet-name>
    <servlet-class>servert.orderdetail.SaveorderdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateorderdetailServlet</servlet-name>
    <servlet-class>servert.orderdetail.UpdateorderdetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QtSavefavoriteServlet</servlet-name>
    <servlet-class>servert.qt.QtSavefavoriteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCustomerDetailInfoServlet</servlet-name>
    <servlet-class>servert.qt.AddCustomerDetailInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustmerRegisterServlet</servlet-name>
    <servlet-class>servert.qt.CustmerRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateMyInfoServlet</servlet-name>
    <servlet-class>servert.qt.UpdateMyInfoServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <url-pattern>/FindAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveStudentServlet</servlet-name>
    <url-pattern>/SaveStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByStudentIdServlet</servlet-name>
    <url-pattern>/FindByStudentIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllBookinforServlet</servlet-name>
    <url-pattern>/FindAllBookinforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookinforServlet</servlet-name>
    <url-pattern>/DeleteBookinforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByBookinforIdServlet</servlet-name>
    <url-pattern>/FindByBookinforIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveBookinforServlet</servlet-name>
    <url-pattern>/SaveBookinforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookinforServlet</servlet-name>
    <url-pattern>/UpdateBookinforServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookTypeServlet</servlet-name>
    <url-pattern>/DeleteBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllBookTypeServlet</servlet-name>
    <url-pattern>/FindAllBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByBookTypeIdServlet</servlet-name>
    <url-pattern>/FindByBookTypeIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveBookTypeServlet</servlet-name>
    <url-pattern>/SaveBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookTypeServlet</servlet-name>
    <url-pattern>/UpdateBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerDetailInfoServlet</servlet-name>
    <url-pattern>/DeleteCustomerDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCustomerDetailInfoServlet</servlet-name>
    <url-pattern>/FindAllCustomerDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByCustomerDetailInfoIdServlet</servlet-name>
    <url-pattern>/FindByCustomerDetailInfoIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCustomerDetailInfoServlet</servlet-name>
    <url-pattern>/SaveCustomerDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerDetailInfoServlet</servlet-name>
    <url-pattern>/UpdateCustomerDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerInfoServlet</servlet-name>
    <url-pattern>/DeleteCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCustomerInfoServlet</servlet-name>
    <url-pattern>/FindAllCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByCustomerInfoIdServlet</servlet-name>
    <url-pattern>/FindByCustomerInfoIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveCustomerInfoServlet</servlet-name>
    <url-pattern>/SaveCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustomerInfoServlet</servlet-name>
    <url-pattern>/UpdateCustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysAdminLoginServlet</servlet-name>
    <url-pattern>/SysAdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysAdminLoginOutSevlet</servlet-name>
    <url-pattern>/SysAdminLoginOutSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrdermainServlet</servlet-name>
    <url-pattern>/DeleteOrdermainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllOrderMainServlet</servlet-name>
    <url-pattern>/FindAllOrderMainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByOrderMainIdServlet</servlet-name>
    <url-pattern>/FindByOrderMainIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveOrderMainServlet</servlet-name>
    <url-pattern>/SaveOrderMainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrderMainServlet</servlet-name>
    <url-pattern>/UpdateOrderMainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <url-pattern>/DeleteNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllNewsServlet</servlet-name>
    <url-pattern>/FindAllNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByNewsIdServlet</servlet-name>
    <url-pattern>/FindByNewsIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveNewsServlet</servlet-name>
    <url-pattern>/SaveNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <url-pattern>/UpdateNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitSevert</servlet-name>
    <url-pattern>/InitSevert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBookInfoServlet</servlet-name>
    <url-pattern>/ShowBookInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletebookDiscussServlet</servlet-name>
    <url-pattern>/DeletebookDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllbookDiscussServlet</servlet-name>
    <url-pattern>/FindAllbookDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindBybookDiscussIdServlet</servlet-name>
    <url-pattern>/FindBybookDiscussIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SavebookDiscussServlet</servlet-name>
    <url-pattern>/SavebookDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatebookDiscussServlet</servlet-name>
    <url-pattern>/UpdatebookDiscussServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBookListByTypeIdServlet</servlet-name>
    <url-pattern>/ShowBookListByTypeIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGwcItemServlet</servlet-name>
    <url-pattern>/AddGwcItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearGwcServlet</servlet-name>
    <url-pattern>/ClearGwcServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGwcItemServlet</servlet-name>
    <url-pattern>/DeleteGwcItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGwcItemNumServlet</servlet-name>
    <url-pattern>/UpdateGwcItemNumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KsSysAdminLoginServlet</servlet-name>
    <url-pattern>/KsSysAdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveTeacherServlet</servlet-name>
    <url-pattern>/SaveTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllTeacherServlet</servlet-name>
    <url-pattern>/FindAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveHomeworkServlet</servlet-name>
    <url-pattern>/SaveHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllHomeworkServlet</servlet-name>
    <url-pattern>/FindAllHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteHomeworkServlet</servlet-name>
    <url-pattern>/DeleteHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByHomeworkServlet</servlet-name>
    <url-pattern>/FindByHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateHomeworkServlet</servlet-name>
    <url-pattern>/UpdateHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysAdminksLoginOutSevlet</servlet-name>
    <url-pattern>/SysAdminksLoginOutSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByTeacherIdServlet</servlet-name>
    <url-pattern>/FindByTeacherIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTeacherServlet</servlet-name>
    <url-pattern>/UpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitOrderServert</servlet-name>
    <url-pattern>/InitOrderServert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddkeepServert</servlet-name>
    <url-pattern>/AddkeepServert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeOrderServlet</servlet-name>
    <url-pattern>/MakeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowNewsServlet</servlet-name>
    <url-pattern>/ShowNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyKJ</servlet-name>
    <url-pattern>/MyKJ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMyPwdServlet</servlet-name>
    <url-pattern>/UpdateMyPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByfavoriteIdServlet</servlet-name>
    <url-pattern>/FindByfavoriteIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SavefavoriteServlet</servlet-name>
    <url-pattern>/SavefavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatefavoriteServlet</servlet-name>
    <url-pattern>/UpdatefavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletefavoriteServlet</servlet-name>
    <url-pattern>/DeletefavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllfavoriteServlet</servlet-name>
    <url-pattern>/FindAllfavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteorderdetailServlet</servlet-name>
    <url-pattern>/DeleteorderdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllorderdetailServlet</servlet-name>
    <url-pattern>/FindAllorderdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindByorderdetailIdServlet</servlet-name>
    <url-pattern>/FindByorderdetailIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveorderdetailServlet</servlet-name>
    <url-pattern>/SaveorderdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateorderdetailServlet</servlet-name>
    <url-pattern>/UpdateorderdetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QtSavefavoriteServlet</servlet-name>
    <url-pattern>/QtSavefavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCustomerDetailInfoServlet</servlet-name>
    <url-pattern>/AddCustomerDetailInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustmerRegisterServlet</servlet-name>
    <url-pattern>/CustmerRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMyInfoServlet</servlet-name>
    <url-pattern>/UpdateMyInfoServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>InitSevert</welcome-file>
  </welcome-file-list>
</web-app>
